<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>911559314386-v8afhvlmhnalm2gtosffs65fr0kcvef5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.911559314386-v8afhvlmhnalm2gtosffs65fr0kcvef5</string>
	<key>API_KEY</key>
	<string>AIzaSyBGl3e5UKLXn_wvIIYPOZpGGsF6T-zpUCo</string>
	<key>GCM_SENDER_ID</key>
	<string>911559314386</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.apppart</string>
	<key>PROJECT_ID</key>
	<string>fir-practice-1e503</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-practice-1e503.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:911559314386:ios:a6f8e06ad85c8cc522560b</string>
</dict>
</plist>